<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>
        {% block title%}


        {% endblock title%}
    </title>

    <!-------------------------------------- css files starts--------------------------------------------------->
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/custom.css'%}" type="text/css" rel="stylesheet">
    
    <!-------------------------------------- css files ends--------------------------------------------------->

</head>
<body>

<!-----------------------Block content (Main) starts----------------------------------->
{% block content %}

{% endblock content %}
<!-----------------------Block content (Main) ends----------------------------------->


<!--------------------------------scripts starts ------------------------------------------------>
<script type="application/javascript">
    window.setTimeout("refresh()", 500);
    function refresh() {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                a = parseInt(xmlhttp.responseText)                //timer received
                a = a
                CreateTimer("timer", a);
            }
        }
        xmlhttp.open("GET", "/time", true);
        xmlhttp.send();
        return
    }


</script>
<script type="text/javascript">
    //window.onload = CreateTimer("timer",{{t}});
    var Timer;
    var TotalSeconds;


    function CreateTimer(timer, Time) {
        Timer = document.getElementById(timer);
        TotalSeconds = Time;

        //UpdateTimer()
        window.setTimeout("Tick()", 1000);
    }

    function Tick() {
        TotalSeconds -= 1;
        if (TotalSeconds <= 0) {
            Timer.innerHTML ="00:00:00";
            alert("Contest has over... Check out leaderboard...");
            return;
        }

        
        UpdateTimer()
        window.setTimeout("Tick()", 1000);
    }

    function UpdateTimer() {
        Seconds = TotalSeconds;
        var Hours = Math.floor(Seconds / 3600);
        Seconds -= Hours * (3600);

        var Minutes = Math.floor(Seconds / 60);
        Seconds -= Minutes * (60);

        Hours = Hours % 24

        var totalTime = Set(Hours) + ":" + Set(Minutes) + ":" + Set(Seconds);

        Timer.innerHTML = totalTime;

        function Set(Time) {
            return (Time < 10) ? "0" + Time : +Time;

        }
    }

</script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
<!--Bootstrap-->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!--------------------------------scripts ends ------------------------------------------------>

</body>
</html>